body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f4f4;
    overflow-x: hidden;
    margin: 0;

}

.navbar{
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    width: 100%;
    min-height: 60px;
    border-bottom: 2px solid orange;
}
.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul{
    margin: 8px 0 0 0;
    list-style: none;
    width: 500px;
    float: right;
}

.navbar a:hover{
    background-color: orange;
    color: #000;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;

}

.side-nav a{
    color:#fff;
}
.side-nav a:hover{
    color:orange;
}

.side-nav .btn-close{
    position: absolute;
    top:0;
    right:22px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    transition:margin-left 0.5s; 
    color: orange;
    display: flex;
    float: left; 
    width: 500px;
    justify-content: space-around;
    align-items: left;
    line-height: 50px;
    padding: 10px;

}
#main h1{
    padding: 0;
    margin: 0;

}
.navbar h2{
    color: orange;
    position: absolute;
    left: 130px;
    font-size: 100%;
    display: none;
}
@media screen and (max-width:1060px){
    .navbar ul{
        width: 500px;
        float: left;
        margin:0;
    }
    #main{
        width: 75%;
        /* float: right; */
    }
}
@media(max-width:568px){
    
    .navbar-bar{display: none}
     #main, h1{
         display: none;
         font-size:18px;
         float: left;
        }
    .navbar h1{
        color: orange;
        position: absolute;
    }
    .navbar h2{
        display: block;
    }

}
@media(min-width:568px){
    .open-slide{display:none}
  
}
@media(max-width:300px){
    .navbar h2{
        display: none;
    }
  
}

